@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    background-color: #eee;
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: auto;
    background-color: rgb(52, 52, 255);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
}
header h1{
    color: #fff;
    padding: 3%;
    height: auto;
    font-family: 'McLaren', cursive;
    font-weight: 200;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
header h1:hover{
    cursor: pointer;
    text-shadow: 0 0 10px rgba(5px, 5px, 5px, 0.9);

}


 .card {
    background-color: #fff;
    width: 270px;
	height: auto;
    margin: 5%;;
    padding-bottom: 10px;
	padding: px;
	border-radius: 2%;
	transition: .5s ease;
	transform: scale(0.98);
	overflow: hidden;
    float: left;
	outline: none;
	box-shadow: 0 8px 34px -15px rgba(0, 0, 0, 1);
}
.card:hover{
    transform: scale(1.01);
}
.card img{
    overflow: hidden;
    width: 100%;
    margin: 4px;
    height: auto;
	border-radius: 3%;
    filter: drop-shadow(2px 6px 8px rgba(0, 0, 0, 0.5));
    transition: 0.5s ease;
}
.card img:hover{
    cursor: pointer;
    transform: rotate(-3deg);
    filter: drop-shadow(1px 15px 8px rgba(0, 0, 0, 0.5));

}

.card a{
    text-decoration: none;
    position: absolute;
    top: 0;
    right: -3px;
    filter: drop-shadow(2px 4px 6px rgba(black, 0.8));
    color: white;
    background-color: red;
    border-bottom-left-radius: 50px;
    padding: 17px ;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
    transition: all 0.5s ease;
}

.card:hover a{
    padding: 30px;
}

.card h2{
    text-align: center;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 550;
}
.card h2:hover {
    color: #ff0000;
    cursor: pointer;
}
.card p{
    font-size: 1.1em;
    margin: 10px;
    font-family: 'Benne', serif;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #eee;
    font-weight: 400;
    text-transform: capitalize;
}
.card p b{
    position: absolute;
    color: rgb(42, 0, 228);
}
.card-content {
	margin-top: 0;
    padding-bottom: 10px;
	width: 100%;
	height: 70%;
	transform-origin: bottom;
	transition: transform 1s ease;
}
.icons{
    padding: 0px;
    font-size: 22px;
    color: #000;
}
hr{
    margin: 10px;
}
.btn{
    margin: 0px 10px;
    width: 92%;
    color: #000;
    background-color: rgb(255, 79, 79);
    border: 0;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    filter: drop-shadow(1px 6px 8px rgba(0, 0, 0, 0.4));
    transition: 0.5s ease;;
}
.btn:hover{
    color: #fff;
    background-color: red;
    cursor: pointer;
}

footer{
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100vw;
    height: 2.5rem;
}

footer p{
    color: #8a0039;
}

@media (max-width:429px) {

  .card{
    float: none;
    margin : 7% auto ;
    }
}
